[submodule "external/eyrie"]
	path = external/eyrie
	url = https://github.com/GrayCodeAI/eyrie.git
[submodule "external/yaad"]
	path = external/yaad
	url = https://github.com/GrayCodeAI/yaad.git
[submodule "external/tok"]
	path = external/tok
	url = https://github.com/GrayCodeAI/tok.git
[submodule "external/sight"]
	path = external/sight
	url = https://github.com/GrayCodeAI/sight.git
[submodule "external/inspect"]
	path = external/inspect
	url = https://github.com/GrayCodeAI/inspect.git
[submodule "external/trace"]
	path = external/trace
	url = https://github.com/GrayCodeAI/trace.git
[submodule "external/hawk-core-contracts"]
	path = external/hawk-core-contracts
	url = https://github.com/GrayCodeAI/hawk-core-contracts.git
