go 1.26.4

use .

replace (
	github.com/GrayCodeAI/eyrie => ./external/eyrie
	github.com/GrayCodeAI/inspect => ./external/inspect
	github.com/GrayCodeAI/sight => ./external/sight
	github.com/GrayCodeAI/tok => ./external/tok
	github.com/GrayCodeAI/trace => ./external/trace
	github.com/GrayCodeAI/yaad => ./external/yaad
)
